main{
    .mainLeft{
        width: 200px;
        height: 900px;

        // .banner{
        //     overflow:hidden;
        //     ul{
        //         overflow:hidden;
        //         li{
        //             float: left;
        //         }
        //     }
        // }
    }
    .mainRight{
        width: 970px;
        height: 300px;

        // .keyword{
        //     width:970px;
        //     padding-top: 20px;
        //     border:1px solid red;

        //     ul{
        //         overflow: hidden;
        //         padding-left: 10px;
        //         border-bottom:1px solid #ddd;
        //         li{
        //             float: left;
        //             margin-right: 28px;
        //             a{
        //                 color:#666560;
        //                 font-size:13px;
        //                 padding: 2px;
        //                 border-radius:2px;
        //                 vertical-align:middle ;

        //             }
        //             a:hover{

        //                 background:#E44848;
        //                 color:#fff;

        //             }
        //         }
        //         li:nth-of-type(1){

        //             color:#323534;
        //             font-weight:600px;
        //             font-size:13px;
        //             // background:#FAFAF9;
        //             margin-right: 28px;
        //             display:inline-block;
        //             vertical-align:middle ;
        //             padding: 2px;
                        
        //         }
        //     }
        // }
    }
}