main{
    .title{
        background:#F2F1EF;
        box-shadow:0 2px 10px #ddd inset;
        .container{
            height: 36px;
            line-height: 36px;
            p{
                float: left;
                font-size:13px;
            }
        }

    }
    .mainLeft{
        padding-top:20px; 
        width: 200px;
        height: 900px;

    }
    .mainRight{
        width: 970px;
        padding-top:20px;

        .keyword{
            width:970px;
            border:1px solid #ddd;
            border-bottom:0 none;
            ul{
                overflow: hidden;
                border-bottom:1px solid #ddd;
                li{
                    float: left;
                    margin-right: 15px;
                    line-height: 40px;
                    a{
                        color:#666560;
                        font-size:12px;
                        padding: 2px;
                        border-radius:2px;
                        vertical-align:middle ;

                    }
                    .kwActive{
                        background:#E44848;
                        color:#fff;
                    }
                    a:hover{
                        background:#E44848;
                        color:#fff;
                        cursor:pointer;
                    }

                    input{
                        width: 55px;
                        height: 20px;
                        border:1px solid #ddd;
                        text-align:center;
                        font-size:12px;
                    }
                    button{
                        padding:2px 10px;
                        font-size:12px;
                        color:#666560;
                    }
                    button:hover{
                        box-shadow:0 0 1px 1px #ccc;
                    }
                }
                li:nth-of-type(1){
                    width: 71px;
                    color:#323534;
                    font-weight:600;
                    font-size:13px;
                    margin-right: 28px;
                    display:inline-block;
                    vertical-align:middle;
                    padding: 2px;
                    padding-left: 10px;
                        
                }
            }
        }
        .Sort{
            border-bottom:1px solid #ddd;
            margin-top:50px;
            padding: 0 10px;
            margin-bottom: 10px;
            li{
                float: left;

                a{  
                    display:inline-block;
                    margin-right:30px;
                    font-size:13px;
                    line-height:30px;
                    border-bottom:3px solid transparent;
                }
                .sortActive{
                    color:#E44848;
                    font-weight:600;
                    border-bottom-color: #E44848;
                }
                a:hover{
                    color:#E44848;
                    font-weight:600;
                    border-bottom-color: #E44848;
                    cursor:pointer;
                }
            }
        }
        .nogoods{
            text-align:center;
            font-size:25px;
            color:#E44848;
        }
        .goodsList{
            li{
                height: 420px;
                width: 206px;
                overflow:hidden;
                position:relative;
                float: left;
                margin: 0 48px 10px 0;
                img{
                    display:block;
                    position:absolute;
                    left: 50%;
                    transform:translateX(-50%);
                }

                .con{
                    position:absolute;
                    bottom: 25px;
                    left: 0;
                    padding:0 15px;
                    .g_price{
                        float: left;
                        font-size:16px;
                    }
                    .g_volume{
                        float: right;
                        font-size:12px;
                        color:#999;
                    }
                    .g_des{
                        font-size:12px;
                        color:#999;
                        line-height: 15px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    .g_special{
                        color:#E44848;
                        font-size:12px;
                        line-height: 25px;
                    }
                    .g_stores{
                        font-size:12px;
                        line-height: 25px;
                        padding-left: 20px;
                        background:url(../imgs/sole.png) left center no-repeat;
                    }
                    .g_Self-support{
                        font-size:12px;
                        color:#fff;
                        background:#E44848;
                        padding: 1px 5px;
                        border-radius:8px;
                    }
                    .g_aPrice{
                        padding: 1px 5px;
                        border-radius:8px;  
                        color:#E44848;
                        border:1px solid #E44848;
                        font-size:12px;
                    }

                    .botHide{
                        position:absolute;
                        left: 8px;
                        bottom: -10px;
                        display:none;
                        span{
                            background:#fff;
                            width: 60px;
                            float: left;
                            font-size:12px;
                            padding: 8px 16px ;
                            border:1px solid #ddd;
                            cursor:pointer;
                        }
                        span:last-child{
                            border-left:0 none;
                            color:#E44848;
                        }
                    }
                }
            }

            li:nth-of-type(4n){
                margin: 0;
                float: left;
            }

            li:hover{
                box-shadow:0 0 5px 2px #ccc;
                .botHide{
                    display:block;
                }    
            } 
        }
    }
    .bot{
        height: 200px;
        background:#999;
    }
}